#login{
    width: 40%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
#formLogin{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
#botoes{
    display: flex;
    gap: 0.7rem;
}
a{
    text-decoration: none;
    color: black;
}