body{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}
.toDo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset{
    width: 150%;
}
button{
    width: 50%;
    border-radius: 5%;
    box-shadow: 0 0 2px gray;
}